<%= render "comments/select_thread_side" -%>

<div id="main">
  <% if params[:notice] -%>
    <p id="notice"><%= params[:notice] -%></p>
  <% end -%>

	<h2><%= @category -%></h2>

  <%= form_tag(url_for(:controller => "comments", :action => "create")) do -%>
    <p>
      <%= @name_navi -%> : <%= text_field_tag "name" -%>&nbsp;&nbsp;
      <%= @image_navi-%> : <%= file_field_tag "img" -%>
    </p>
    <p><%= @comment_navi -%></p>
    <p>
      <%= text_area_tag "description","",{:rows => "10",:cols => "100"} -%>
    </p>
    <%= hidden_field_tag "category", @category -%>
    <p>
      <%= submit_tag @send_navi -%>
    </p>
  <% end -%>

  <div class="dotline"></div>

  <% @comments.each do |comment| -%>

    <div class="each-comments">
	    <h3><%= comment.name -%></h3>
      <%= comment.created_at -%> <a href="#">[×]</a>
      <br />
      <br />
      <%= comment.description -%>
    </div>
    <div class="dotline"></div>

  <% end -%>

<%= paginate @comments -%>

</div>
